<div class="container">

    <p>Update-book </p>


    <form>
        <div class="form-group">
          <label for="name">Book Name</label>
          <input type="text" name="name" class="form-control" id="name" [(ngModel)]="givenBook.name" placeholder="Book Name">
        </div>
        <div class="form-group">
          <label for="year">Publishing Year</label>
          <input type="text" name="year" class="form-control" id="year" [(ngModel)]="givenBook.year" placeholder="publishing Year">
        </div>
        <div class="form-check">
          <input type="checkbox" name="available" class="form-check-input" [(ngModel)]="givenBook.available" id="availability">
          <label class="form-check-label" for="availability">available</label>
        </div>
        <button type="submit" (click)="onSave()" class="btn btn-primary">Save</button>
        
        <button type="submit" (click)="onBack()" class="btn btn-primary">Back</button>
      </form>
</div>