<!-- <h1>Book List</h1> -->

<div class="container">

    <table class="table table-striped" >
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Year</th>
            <th>Availability</th>
        </tr>
    
        <tr>
            <td>1</td>
            <td>Game of Thrones</td>
            <td>1995</td>
            <td>Yes</td>
        </tr>
    
        <tr>
            <td>2</td>
            <td>Murder on the Nile</td>
            <td>1823</td>
            <td>No</td>
        </tr>
        
        <tr>
            <td>3</td>
            <td>Journey to the moon</td>
            <td>2010</td>
            <td>Yes</td>
        </tr>
    </table>
</div>