<!-- <h1>Book List</h1> -->

<div class="container">

    <div>
        <button (click)="addBook()" id="addbutton" class="btn btn-success">Add Button</button>
    </div>

    <table class="table table-bordered table-hover  ">
        <caption>List of books</caption>
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Year</th>
                <th>Availability</th>
                <th>Update</th>
                <th>Delete</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books; let i = index" [ngClass]="book.available ? 'table-success': 'table-danger'" >
                <!-- <td>{{i}} </td> -->
                <td>{{book.id}}</td>
                <td>{{book.name}} </td>
                <td>{{book.year}} </td>
                <td *ngIf="book.available"> available</td>
                <!-- <td *></td> -->
                <td *ngIf="!book.available"> borrowed</td>
    
                <td><button (click)="onUpdate(book,i)" class="btn btn-warning"> Update</button></td>
                <td><button (click)="onDelete(book)" class="btn btn-danger"> Delete</button></td>
            </tr>
        </tbody>
    </table>

</div>